In [1]:
import pandas as pd
import numpy as np
import datetime
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [17]:
df = pd.read_csv('C:\\Users\\grace\\Desktop\\0701_basket_02.csv')

In [18]:
df.head()

   user_id        dd name  amount
0       30  20210528   青菜       2
1       30  20210530   青菜       2
2       30  20210602   青菜       1
3       30  20210611   粽子       7
4       30  20210613   粽子       1

In [19]:
# 將date由int轉為datetime格式
j = 0
for i in df['dd']:
    #print(j,i)
    i = str(int(i))
    dd = datetime.datetime.strptime(i, '%Y%m%d').date()
    #print(dd)
    j = j+ 1
    #print(j,i)

In [20]:
#pivot_table
basket = df[['user_id','name','amount']].pivot_table(index='user_id', columns='name', aggfunc='sum').fillna(0)

In [21]:
#將購買多個的轉為1，如果A用戶買了5個B商品仍計為1
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

In [22]:
basket_sets = basket.applymap(encode_units)

In [23]:
basket_sets

        amount
name       下午茶 水果 烘焙點心 粽子 肉品 零食 青菜
user_id
30           0  1    0  1  0  0  1
99           1  0    0  1  0  0  0
101          1  1    1  1  0  1  1
111          0  0    0  0  0  0  1
118          0  0    0  0  0  0  1
...        ... ..  ... .. .. .. ..
1893782      0  0    1  0  0  0  0
1893814      0  0    1  0  0  0  0
1894456      0  0    0  0  1  0  0
1895062      0  1    0  0  0  0  0
1896225      0  1    0  0  0  0  0

[3323 rows x 7 columns]

In [15]:
#可調整 min_support=0.002
frequent_itemsets = apriori(basket_sets, min_support=0.002, use_colnames=True)
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)
rules.sort_values('lift',ascending = False).head(50)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
12,"((amount, 粽子), (amount, 青菜))","((amount, 水果))",0.009630,0.130304,0.003310,0.343750,2.638063,0.002055,1.325251
13,"((amount, 水果))","((amount, 粽子), (amount, 青菜))",0.130304,0.009630,0.003310,0.025404,2.638063,0.002055,1.016185
0,"((amount, 下午茶))","((amount, 烘焙點心))",0.047547,0.028589,0.002708,0.056962,1.992472,0.001349,1.030087
1,"((amount, 烘焙點心))","((amount, 下午茶))",0.028589,0.047547,0.002708,0.094737,1.992472,0.001349,1.052128
7,"((amount, 下午茶), (amount, 青菜))","((amount, 水果))",0.009028,0.130304,0.002107,0.233333,1.790685,0.000930,1.134386
8,"((amount, 水果))","((amount, 下午茶), (amount, 青菜))",0.130304,0.009028,0.002107,0.016166,1.790685,0.000930,1.007256
11,"((amount, 水果), (amount, 青菜))","((amount, 粽子))",0.043033,0.052061,0.003310,0.076923,1.477546,0.001070,1.026933
14,"((amount, 粽子))","((amount, 水果), (amount, 青菜))",0.052061,0.043033,0.003310,0.063584,1.477546,0.001070,1.021946
2,"((amount, 下午茶))","((amount, 粽子))",0.047547,0.052061,0.003310,0.069620,1.337272,0.000835,1.018873
3,"((amount, 粽子))","((amount, 下午茶))",0.052061,0.047547,0.003310,0.063584,1.337272,0.000835,1.017125
4,"((amount, 下午茶))","((amount, 零食))",0.047547,0.043936,0.002407,0.050633,1.152419,0.000318,1.007054
5,"((amount, 零食))","((amount, 下午茶))",0.043936,0.047547,0.002407,0.054795,1.152419,0.000318,1.007667
10,"((amount, 水果), (amount, 粽子))","((amount, 青菜))",0.003912,0.767680,0.003310,0.846154,1.102222,0.000307,1.510081
15,"((amount, 青菜))","((amount, 水果), (amount, 粽子))",0.767680,0.003912,0.003310,0.004312,1.102222,0.000307,1.000402
6,"((amount, 水果), (amount, 青菜))","((amount, 下午茶))",0.043033,0.047547,0.002107,0.048951,1.029521,0.000060,1.001476
9,"((amount, 下午茶))","((amount, 水果), (amount, 青菜))",0.047547,0.043033,0.002107,0.044304,1.029521,0.000060,1.001329